@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
    outline:none;
}

.loader {
    text-align: center;
    margin-top: 50px;
}

.plus-icon {
    color: green;
}

.trash-alt-icon {
    color:  #ff033e;
}

.pencil-alt-icon {
    color:   #FFBF00;
}

.check-circle-icon {
    color: green;
}

.close-modal-btn {
    color: darkgrey;
}
